<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <script type="text/javascript" src="http://livejs.com/live.js"></script>
</head>
<body>
    <main class="main hero is-dark is-fullheight wrap">
        <header>
            <%- include('../partials/header') %>
    
        </header>
    </main>
    <footer class="footer">
        <%- include('../partials/footer') %>

    </footer>
</body>
</html>
